<div class="container">
  <h1>Restaurants</h1>
  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            <%= restaurant.category %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= restaurant.name %></h5>
            <p class="card-text"><%= restaurant.address %></p>
            <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
